
body {
  color: #333333;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#login {
  padding: 10px;
}

#timeline {
}

#timeline .note {
  padding: 10px;
  margin: 5px 0;
}

#timeline .note:hover {
  border: 1px solid #999999;
}

.actions {
  float: right;
}

.actions li {
  display: inline-block;
}