<div>
  <script id='onNoteRemoved' type="text/x-handlebars">
    <img src="https://graph.facebook.com/{{ownerId}}/picture" />
    <p>{{name}} a &eacute;t&eacute; jet&eacute;e.</p>
  </script>
  <script id='onNoteUpdated' type="text/x-handlebars">
    <img src="https://graph.facebook.com/{{ownerId}}/picture" />
    <p>{{name}} vient d &ecirc;tre modifi&eacute;e.</p>
  </script>
  <script id='onNoteShared' type="text/x-handlebars">
    <img src="https://graph.facebook.com/{{ownerId}}/picture" />
    <p>La note {{name}} vient de vous &ecirc;tre partag&eacute;e.</p>
  </script>
  <script id="onFriendConnected" type="text/x-handlebars">
    <img src="https://graph.facebook.com/{{ownerId}}/picture" />
    <p>{{firstName}} {{lastName}} vient de se connecter.</p>
  </script>
</div>
