

<div>

  <script id="navbar-right" type="x-handlebars">
    
    <li><a href="#timeline"><i class="icon-arrow-left icon-white"></i></a></li>
  </script>

  <script id="header" type="text/x-handlebars">
    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand"><img src="img/moble-icon.png" alt="Moble"/></a>
          <ul id="navbar" class="nav"></ul>
          <ul id="navbar-right" class="nav pull-right"></ul>
        </div>
      </div>
    </div>
  </script>

  <script id="friend" type="text/x-handlebars">

    <div class="data">
	  <ul class="actions">
		<li><a href="#" class="btn_like"><i class="icon-thumbs-up icon-white" onClick="return false"></i></a></li>
	  </ul>
      <img id="{{FBId}}" src="https://graph.facebook.com/{{FBId}}/picture" />
	  <br>
      <span>{{fullName}}</span>
    </div>
  </script>

  <script id="profile" type="text/x-handlebars">
    <img src="https://graph.facebook.com/{{FBId}}/picture" />
    <h3>{{firstName}} {{lastName}}</h3>
	<br>
    <span>{{email}}</span>
	<br><br>
  </script>

  <script id="content" type="text/x-handlebars">
	<br>
    <div id="profile"></div>
	<p>Amis qui ne sont pas encore sur Moble...</p>
    <ul id="friends"></ul>
  </script>

</div>