
/* Contrainte à la taille d'un écran de Smartphone */

body {
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
}

/* Modification de bootstrap */

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
}

.navbar-inner {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #4671d5, #3560c4); /* #3560c4 = #4671d5 - 11 */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4671d5), to(#3560c4));
  background-image: -webkit-linear-gradient(top, #4671d5, #3560c4);
  background-image: -o-linear-gradient(top, #4671d5, #3560c4);
  background-image: linear-gradient(to bottom, #4671d5, #3560c4);
  background-repeat: repeat-x;
  border-color: #4671d5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4671d5', endColorstr='#ff3560c4', GradientType=0);  background-color: #1b1b1b;
}

/* Styles Moble */

div#nav-timeline-left {
}

div#nav-timeline-right {
  float: right;
}

div#nav-timeline-left > ul.nav > li ,
div#nav-timeline-right > ul.nav > li {
  text-align: center;
}

div#nav-timeline-left > ul.nav > li > a ,
div#nav-timeline-right > ul.nav > li > a {
  min-width: 40px;
  color: white;
  font-weight: bold;
}

div#nav-timeline-left > ul.nav > li > a > i ,
div#nav-timeline-right > ul.nav > li > a> i {
  display: block;
  margin: 1px auto;
}

#timeline {
	position: relative;
    width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 60px;
}

#timeline > ul > div#loader {
	width: 100%;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px 0;
	padding: 10px;
	color: white;
	background-color: rgba(70, 113, 213, 0.8); /* #4671d5 */
	border: 4px solid white;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#timeline > ul > div#loader i {
	float: right;
	margin-top: -3px;
}

#timeline > ul {
	width: 100%;
	height: 100%;
	overflow: hidden;
    list-style-type: none;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 5px 10px;
	background-image: url("../img/timeline.png");
    background-position: right center;
    background-repeat: repeat-y;
}

#timeline > ul > li {
    position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 5px 0;
}

#timeline > ul > li > a.bubble,
#timeline > ul > li > span.timelabel,
#timeline > ul > li > a.circle {
	display: block;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #aaa;
}

#timeline > ul > li > a.bubble,
#timeline > ul > li > span.timelabel {
	margin-right: 40px;
	padding: 10px;
    -webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#timeline > ul > li > span.timelabel {
	color: white;
	font-weight: bold;
	background-color: #4671d5;
}

#timeline > ul > li > span.timelabel.urgent {
	color: #111;
}

#timeline > ul > li > a.bubble,
#timeline > ul > li > a.circle {
	background: white;
}

#timeline > ul > li > a.bubble {
	margin-bottom: 30px;
	color: #777;
	text-decoration: none;
}

#timeline > ul > li > a.bubble > span {
	font-weight: bold;
}

#timeline > ul > li > a.circle {
    position: absolute;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
    -webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#timeline > ul > li > i.img-bubbles {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 40px;
  height: 30px;
}

#timeline > ul > li.selected > a.circle {
	background-color: #4671d5;
	border: 2px solid white;
}

#timeline > ul > li.checked > a.bubble {
	background-color: #ccc;
}

#timeline > ul > li.checked > a.bubble span {
	text-decoration: line-through;
}

#timeline > ul > li.checked > i.img-bubbles {
  background-image: url("../img/bubblesChecked.png");
}

[class^="img-"],
[class*=" img-"] {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.img-bubbles {
  background-image: url("../img/bubbles.png");
}

.img-bubbles.grey {
  background-image: url("../img/bubblesChecked.png");
}

.img-facebook-connection {
  width: 128px;
  height: 128px;
  background-image: url("../img/facebookConnection.png");
}

.img-loading {
  width: 31px;
  height: 31px;
  background-image: url("../img/loading.gif");
}

[class^="pack-"],
[class*=" pack-"] {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-top: 1px;
  margin-bottom: 1px;
  *margin-right: .3em;
  line-height: 28px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons.png");
  background-position: 28px 28px;
  background-repeat: no-repeat;
}

.navbar #nav-timeline-left .nav > li > a,
.navbar #nav-timeline-right .nav > li > a {
  padding: 4px 15px 4px;
}

.btn-large [class^="pack-"],
.btn-large [class*=" pack-"] {
  margin-top: 2px;
}

.btn-small [class^="pack-"],
.btn-small [class*=" pack-"] {
  margin-top: 0;
}

.nav-list [class^="pack-"],
.nav-list [class*=" pack-"] {
  margin-right: 2px;
}

.pack-note-add {
  background-position: 0 -912px;
}

.pack-note-remove {
  background-position: -288px -46px;
}

.pack-note-undo-selection {
  background-position: -48px -1057px;
}

.pack-note-check {
  background-position: -95px -723px;
}

.pack-note-uncheck {
  background-position: -143px -723px;
}

.pack-sharing {
  background-position: -383px -1441px;
}

.pack-friends-moble {
  background-position: -143px -193px;
}

.pack-friends-other {
  background-position: -286px 0;
}

.pack-property-add {
  background-position: 0 -960px;
}

.pack-property-remove {
  background-position: -48px -960px;
}

.pack-logout {
  background-position: -144px -288px;
}

.pack-error-bug {
  background-position: 0 -1729px;
}

.pack-error-connection {
  background-position: -48px -1152px;
}
