
<div>

  <script id="navbar-right" type="text/x-handlebars">
    <li><a href="#timeline"><i class="icon-arrow-left icon-white"></i></a></li>
  </script>

  <script id="header" type="text/x-handlebars">
    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand"><img src="img/moble-icon.png" alt="Moble"/></a>
          <ul id="navbar" class="nav"></ul>
          <ul id="navbar-right" class="nav pull-right"></ul>
        </div>
      </div>
    </div>
  </script>

  <script id="form" type="text/x-handlebars">
    <form method="post" action="#">
      <div>
<!--Voir pour l'attribut hint http://onehackoranother.com/projects/jquery/jquery-grab-bag/input-hint.html-->
        <div><input id="name" type="text" value="{{name}}" hint="Titre"/></div>
      </div>
      <div>
        <div><textarea id="description" hint="Commentaire">{{description}}</textarea></div>
      </div>
      <div>
        <div><input id="quantity" type="text" value="{{quantity}}" hint="Quantit&eacute;"/></div>
      </div>
      <div>
        <div><input id="price" type="text" value="{{price}}" hint="Prix"/></div>
      </div>
      <div>
        <div><input id="date" type="date" value="{{timeToDate date}}" hint="Date d'&eacute;ch&eacute;ance"/></div>
      </div>
    </form>
  </script>

  <script id="content" type="text/x-handlebars">
	<br>
    <div id="form"></div>
    <ul id="sub-notes"></ul>
  </script>

</div>