
<div>

  <script id="navbar-right" type="text/x-handlebars">
    <li><a href="#timeline"><i class="icon-arrow-left icon-white"></i></a></li>
  </script>

  <script id="header" type="text/x-handlebars">
    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand"><img src="img/moble-icon.png" alt="Moble"/></a>
          <ul id="navbar" class="nav"></ul>
          <ul id="navbar-right" class="nav pull-right"></ul>
        </div>
      </div>
    </div>
  </script>

  <script id="form" type="text/x-handlebars">
    <form method="post" action="#">
      <div>
        <div><input id="name" type="text" value="{{name}}" placeholder="Titre" {{#unless isOwner}}disabled{{/unless}}/></div>
      </div>
      <div>
        <div><textarea id="description" placeholder="Commentaire">{{description}}</textarea></div>
      </div>
      <div>
        <div><input id="quantity" type="text" value="{{quantity}}" placeholder="Quantit&eacute;" {{#unless isOwner}}disabled{{/unless}}/></div>
      </div>
      <div>
        <div><input id="price" type="text" value="{{price}}" placeholder="Prix" /></div>
      </div>
      <div>
        <div><input id="date" type="date" value="{{timeToDate date}}" placeholder="Date d'&eacute;ch&eacute;ance" {{#unless isOwner}}disabled{{/unless}}/></div>
      </div>
      <div>
        <div><input id="done" type="checkbox" {{#if done}}checked="checked"{{/if}} /> <label for="done"><span></span> Done?</label></div>
      </div>
    </form>
  </script>

  <script id="content" type="text/x-handlebars">
	<br>
    <div id="form"></div>
    <ul id="sub-notes"></ul>
  </script>

</div>