
<div>

  <script id="navbar" type="text/x-handlebars">
    
    <li><a href="#"><i class="icon-user icon-white"></i> Login</a></li>
  </script>

  <script id="header" type="text/x-handlebars">

    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand">Moble</a>
          <ul id="navbar" class="nav"></ul>
          <ul id="navbar-right" class="nav pull-right"></ul>
        </div>
      </div>
    </div>
  </script>

  <script id="content" type="text/x-handlebars">
    
    <h1>Moble: Login</h1>
    <div>
      <button class="btn btn-primary" id="btn_login">Login</button> with Facebook
    </div>
  </script>

</div>