
<div>
  
  <script id="tmpl-login-navbar" type="text/x-handlebars">
    <li><a class="login">Login</a></li>
  </script>

  <script id="tmpl-timeline-navbar" type="text/x-handlebars">
    <li><a class="logout">Logout</a></li>
  </script>

  <script id="tmpl-navbar" type="text/x-handlebars">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">Moble</a>
        <ul id="nav" class="nav" style="cursor: pointer">
        </ul>
      </div>
    </div>
  </script>
</div>