
<div>

  <script id='onNoteCreated' type="text/x-handlebars">
    <p>A new note created successfully</p>
  </script>
  <script id='onNoteRemoved' type="text/x-handlebars">
    <p>Note ({{name}}) removed</p>
  </script>
  <script id='onNoteUpdated' type="text/x-handlebars">
    <p>Note ({{name}}) updated</p>
  </script>
  <script id='onNoteShared' type="text/x-handlebars">
    <p>Note ({{name}}) shared with you</p>
  </script>
</div>
