
<div>

  <script id="navbar" type="text/x-handlebars">
    <li><a id="logout" href="#/logout"><i class="icon-off icon-white"></i> Logout</a></li>
  </script>

  <script id="navbar-right" type="text/x-handlebars">
    <li><a id="create" href="#note/create"><i class="icon-plus icon-white"></i> Create</a></li>
  </script>

  <script id="note" type="text/x-handlebars">
    <ul class="actions">
      <li><a href="#/note/{{_id}}/share"><i class="icon-share-alt"></i></a></li>
      <li><a class="remove"><i class="icon-remove"></i></a></li>
    </ul>
    <div class="container">
      <h4>{{name}}</h4>
      <p>{{description}}</p>
    </div>
  </script>

  <script id="content" type="text/x-handlebars">
    <h1>Moble: Timeline</h1>
    <ul id="notes"></ul>
  </script>
</div>