
<div>

  <script id="navbar" type="text/x-handlebars">
    <li><a href="#profile"><i class="icon-user icon-white"></i><br>{{firstName}}</a></li>
  </script>

  <script id="navbar-right" type="text/x-handlebars">
    {{#if hasSelected}}
      <li><a href="#" id="btn_cancelSelection"><i class="icon-step-backward icon-white"></i></a></li>
      <li><a href="#" id="btn_share"><i class="icon-share icon-white"></i></a></li>
      {{#if allDone}}
        <li><a href="#" id="btn_check"><i class="icon-remove icon-white"></i></a></li>
      {{else}}
        <li><a href="#" id="btn_check"><i class="icon-ok icon-white"></i></a></li>
      {{/if}}
      {{#if allMine}}
        <li><a href="#" id="btn_remove"><i class="icon-trash icon-white"></i></a></li>
      {{/if}}
    {{else}}
	  <li><a href="#" id="btn_create"><i class="icon-plus icon-white"></i></a></li>
    {{/if}}
  </script>

  <script id="header" type="text/x-handlebars">

    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand"><img src="img/moble-icon.png" alt="Moble"/></a>
          <ul id="navbar" class="nav"></ul>
          <ul id="navbar-right" class="nav pull-right"></ul>
        </div>
      </div>
    </div>
  </script>

  <script id="note" type="text/x-handlebars">
	  <ul class="actions">
		{{#if isOwner}}
		  <li><a href="#" class="btn_remove"><i class="icon-trash icon-white" onClick="return false"></i></a></li>
		{{/if}}
		<li><a href="#" class="btn_check">
		{{#if done}}
			<i class="icon-remove icon-white"></i>
		{{else}}
			<i class="icon-ok icon-white"></i>
		{{/if}}
		</a></li>
		{{#if isOwner}}
		  <li><a href="#" class="btn_share"><i class="icon-share icon-white"></i></a></li>
		{{/if}}
	  </ul>
	<div>
	  <input type="checkbox" {{#if selected}}checked{{/if}} id="checkbox-{{_id}}" />
	  <label for="checkbox-{{_id}}"><span></span></label>
	  <img src="https://graph.facebook.com/{{ownerId}}/picture" />
      <h3 class="elem">{{name}}</h3>
	  <span class="clear"></span>
	</div>
  </script>

  <script id="content" type="text/x-handlebars">
    <div style="padding: 10px 0">
      <ul id="notes"></ul>
    </div>
  </script>
</div>