
<div>

  <script id="navbar" type="text/x-handlebars">
    
    <li><a href="#profile"><i class="icon-user icon-white"></i> {{firstName}}</a></li>
  </script>

  <script id="navbar-right" type="text/x-handlebars">

    <li><a href="#" id="btn_create"><i class="icon-plus icon-white"></i></a></li>
    {{#if hasSelected}}
      <li><a href="#" id="btn_share"><i class="icon-share icon-white"></i></a></li>
      <li><a href="#" id="btn_remove"><i class="icon-remove icon-white"></i></a></li>
    {{/if}}
  </script>

  <script id="header" type="text/x-handlebars">

    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a href="#" class="brand">Moble: Timeline</a>
          <ul id="navbar" class="nav"></ul>
          <ul id="navbar-right" class="nav pull-right"></ul>
        </div>
      </div>
    </div>
  </script>

  <script id="note" type="text/x-handlebars">

    <input type="checkbox" {{#if selected}}checked{{/if}} id="checkbox-{{_id}}" />
    <label for="checkbox-{{_id}}"><span></span></label>
    <h3 class="elem">{{name}}</h3>
    <div class="right">
      <ul class="actions">
        <li><a href="#" class="btn_share"><i class="icon-share icon-white"></i></a></li>
        <li><a href="#" class="btn_remove"><i class="icon-remove icon-white"></i></a></li>
      </ul>
    </div>
    <span class="clear"></span>
  </script>

  <script id="content" type="text/x-handlebars">
    <div style="padding: 10px">
      <ul id="notes"></ul>
    </div>
  </script>
</div>